.primary-light-dark {
  background-color:#1e1e2d;
}

.content-section {
  background: #1E1E2D;
}

.height-section {
  min-height: 650px;
}

.height-section-editable {
  height: 550px;
}

.seccion-dark {
  background: #1C1B29;
  border: solid 1px #1C1B29;
}

.content-icon
{ 
  padding: 1rem;
  cursor: pointer;
}

.bkg-dark {
  background-color: #12121B !important;
}

.btn.btn-dark {
  background-color: #2B2B40;
  border-color: #181c32;
  color: #fff !important;
}

.btn-check:active + .btn.btn-dark,
.btn-check:checked + .btn.btn-dark,
.btn.btn-dark.active,
.btn.btn-dark.show,
.btn.btn-dark:active:not(.btn-active),
.btn.btn-dark:focus:not(.btn-active),
.btn.btn-dark:hover:not(.btn-active),
.show > .btn.btn-dark {
  background-color: #131628 !important;
  border-color: #131628;
  color: #fff !important;
}

.btn.btn-dark.dropdown-toggle:after {
  color: #fff !important;
}

#dropdown-item-button {
  padding-right: 30px;
  padding-left: 30px;
}

.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: "\276F";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  transform:rotate(90deg);
}

.content-collapse {
  padding: 0 18px;
  display: none;
  transition: max-height 0.2s ease-out;
}

.active-collapse {
  display: block;
}
.editable {
  margin: 0.5rem 0.5rem 0rem 0rem;
}

.editable:hover {
  outline: 1px dashed #009EF7;
  background: #009cf72c;
  cursor: grabbing;
}

.editable:focus-visible {
  outline: 1px dashed #009EF7;
  background: #009cf72c;
  cursor: text;
}

.item-list {
  background: none;
  border: none;
}

.active-svg svg path{
  /* color: #009EF7 !important; */
  fill: red;
  stroke: red;
}


.input {
	box-sizing: border-box;
	padding: 2px 2px 2px 35px;
}

.input-icon {
	position: absolute;
  color: #fff;
	width: 20px;
	height: 20px;
	left: 12px;
	top: 14px;
	transform: translateY(-50%);
}

.btn-style {
  width: 10px;
  height: 10px;
}

.list-group-squeare > .list-group-item::before {
  list-style-type : square;
}

.list-group-bg {
  --bs-list-group-bg: none !important;
  --bs-list-group-border-color: none !important;
}

.min-tumbnail.ps__thumb-x {
  overflow-y: hidden;
}

.cursor-grabbing {
  cursor: grabbing;
}

/* customTooltip */
/* EMPIEZA AQUÃ */

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-one {
  padding: 8px;
  background: #2b2b40;
  position: absolute;
  min-width: 150px;
  border-radius: 5px;
  text-align: center;
  /* filter: drop-shadow(0 3px 5px #ccc); */
  color: #fff;
  line-height: 1.5;
  display: none;
  bottom: 32px;
  right: 50%;
  margin-right: -78px;
}

.tooltip-one:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -9px;
  width: 12px;
  height: 12px;
  background: #2b2b40;
  transform: rotate(45deg);
}

.tooltip-trigger:hover + .tooltip-one {
  display: block;
}

button.tooltip-trigger:hover + .tooltip-one {
  display: block;
  bottom: 57px;
}

.cornered-edge {
  width: 10%;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.resource-element {
    outline: 1px dashed #009EF7;
    background: #009cf72c;
    cursor: grabbing;
}

.size-resource-img {
  height: 300px;
}
.size-resource-video {
  height: 250px;
}

/* Custom Input number */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: '\f077';
  transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.bg-transparent {
  background: none !important;
}

.menu-icon {
  min-width: 50px !important;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 15px;
}

.custom-menu-double {
  background: none !important;
  box-shadow: none !important;
  /* top: 420px !important; */
}

.react-contexify__item__content {
  background: none !important;
  scrollbar-color: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.text-justify {
  text-align: justify !important;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

/* popover form */
.popover__wrapper {
  position: relative;
  /* margin-top: 1.5rem; */
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  /* background-color: #bfbfbf;
  padding: 1.5rem; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #2B2B40 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translateX(75px);
  /* transform: translateY(10px); */
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

.active-element {
  background:#009EF7 !important;
  color:white;
}

.bg-danger {
  background: #F00 !important;
}

.css-306hrz-option {
  background-color: #12121B !important;
}

/* --------------------------------- */
/* .swal-modal {
  background: #1E1E2D;
}

.swal-title {
  color: #fff !important;
}

.swal-button--cancel {
  background-color: #0D0D14 !important;
  color: #fff !important;
}

.swal-button--confirm {
  background-color: #009EF7 !important;
  color: #fff !important;
} */